.App {
  /* border: 1px solid rgb(0, 0, 0); */
  /* width: 60rem; */
  height: 40rem;
  margin-inline: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #e3f4f4;
}

.title-img {
  width: 6.5rem;
  /* background-color: green; */
  /* height: 10rem; */
  margin-inline: auto;
  animation: rotate 5.4s linear infinite;
  user-select: none;
  /* object-fit: cover; */
}
.title-text {
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #1d1d1d;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.error-component {
  /* background-color: green; */
  width: 14rem;
  height: 10rem;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.error-msg {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
}

.error-component img {
  width: 8rem;
}
.loader-component {
  /* background-color: purple; */
  position: absolute;
  left: 50%;
  top: 50%;
  /* width: 4rem; */
  transform: translate(-50%, -50%);
}

.loader {
  width: 4.5rem;
  height: 4.5rem;
  border: 50%;
  border: 0.7rem solid #e3f4f4;
  border-top-color: #2c6768;
  border-radius: 3rem;
  animation: animate 0.8s linear infinite;
}
@keyframes animate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.start-screen {
  /* background: green; */
  margin-top: 3rem;
  text-align: center;
  letter-spacing: 1.5px;
}
.main-title {
  font-size: 2.5rem;
  font-size: 700;
  margin: 1rem 0;
}
.plain-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.btn {
  width: 10rem;
  border-radius: 20rem;
  height: 2.5rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  border: none;
  background-color: #3c9091;
  color: whitesmoke;
  transition: all 0.3s ease;
}
.start-btn:hover {
  background-color: #2c6768;
  cursor: pointer;
}
.start-btn:active {
  transform: scale(0.2);
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* //////////////////////////////////////// */

.question {
  /* background-color: rgb(173, 173, 173); */
  width: 100%;
  font-size: 1.2em;
  margin-top: 2.5rem;
}

.option-section {
  margin-top: 2rem;
}
.button-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: rgb(110, 255, 110); */
}
.btn-next {
  margin-top: 1rem;
}
.option-component {
  width: 100%;
  border: 1px solid gray;
  margin-top: 1rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 1rem;
  padding-left: 1.4rem;
  color: rgb(52, 51, 51);
  display: flex;
  transition: all 0.2s ease;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}
.option-component:hover {
  cursor: pointer;
}
.left-shifted {
  margin-left: 1.4rem;
}

.correct-answer-styling {
  background-color: rgb(91, 232, 91);
  /* box-shadow: 0px 0px 6px 1px rgb(91, 232, 91); */
  border: none;
  color: white;
}
.wrong-answer-styling {
  border: none;
  background-color: rgb(221, 66, 66);
  color: white;
}

.main-container {
  width: 38rem;
}

.progress-container {
  /* height: 4rem; */
  /* background-color: rgb(8, 19, 40); */
  /* color: white; */
  padding-inline: 0.3rem;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-size: 1rem;
  flex-direction: column;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.progress-bar-container {
  background-color: whitesmoke;
  height: 1.2rem;
  border-radius: 1rem;
}
.progress-bar {
  background-color: #00d8ff;
  height: 100%;
  border-radius: 1rem;
  transition: all 0.5s ease-out;
}
.details {
  background-color: #2d7576;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

.start-img {
  width: 12rem;
  display: block;
  /* background-color: green; */
  margin-inline: auto;
  margin-top: 1rem;
}

.remark {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #2d7576;
  padding: 0.5rem;
  letter-spacing: 2px;
  text-align: center;
}
.score-text {
  font-size: 1.1rem;
  /* margin-top: 1rem; */
  color: #1d1d1d;
  width: 17rem;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-inline: auto;
}
.special-text {
  font-size: 1.3rem;
  color: #2c6768;
  font-weight: 700;
  padding-inline: 0.2rem;
}
.percentage {
  background-color: #2c6768;
  color: whitesmoke;
  width: 10rem;
  border-radius: 4rem;
  padding: 0.5rem;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.restart-btn {
  margin-inline: auto;
}
.restart-btn-section {
  display: flex;
}

.timer {
  width: 6rem;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
 
}
.animate{
  animation: danger 0.8s linear infinite;
  animation-timing-function: ease-out;
  color: white;

}

@keyframes danger {
  from {
    transform: scale(1);
    background-color: #bd2222;
  }
  to {
    transform: scale(1.2);
    background-color: rgb(255, 59, 59);
  }
}



@media screen and (max-width:768px) {
  .App{
    width: 100vw;
    /* padding: 1rem; */
    height: 100vh;
    margin: 0;
  }

  .main-container{
    width: 95%;
  }
  .details{
    font-size: .8rem;
    width: fit-content;
  }
  .progress-bar-container{
    height: 1rem;
  }

  
}

@media screen and (max-width:500px) {
  .App{
    height: 100vh;
    width: 100vw;
  }
  .header{
    margin-top: 1rem;
    flex-direction: column;
  }
  .plain-text{
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
    margin: 2rem auto ;
  }
  .main-title{
    margin: .1rem 0;
    font-size: 1.5rem;
  }
  .title-text{
    padding-inline: .7rem;
    margin: 0;
    font-size: 2rem;
  }
  .question{
    text-align: center;
    font-size: 1.1rem;
    
  }
  .option-component{
  justify-content: center;
  padding: 0;
  margin-inline: auto;
  width: 95%;
  font-size: .8rem;
}
/* .option-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
  } */
  
}